.btn-tkt {
  height: 40px;
  border-radius: 40px;
  min-width: 160px;
  padding: 8px 24px;
  text-align: center;
  font-weight: 700;
  background-color: #3784C3;
  color: #FFF;
  border: none;
  font-size: 1rem;
  margin: 0;
  cursor: pointer; }
  .btn-tkt:hover, .btn-tkt:focus, .btn-tkt:active {
    background-color: #4099E2;
    outline: none; }
  .btn-tkt.secondary-btn-tkt {
    background: transparent;
    color: #3784C3;
    border: 1px solid #3784C3; }
    .btn-tkt.secondary-btn-tkt:hover, .btn-tkt.secondary-btn-tkt:focus, .btn-tkt.secondary-btn-tkt:active {
      background-color: #3784C3;
      color: #FFF; }

/**
 * Colors - Basic
 * More colos in colors.less
 */
.main-footer {
  background: #E6E6E6;
  padding-top: 30px; }
  @media (max-width: 992px) {
    .main-footer {
      padding-top: 20px; } }
  .main-footer .container {
    position: relative;
    justify-content: center;
    max-width: 1080px;
    margin: auto; }
    @media (max-width: 992px) {
      .main-footer .container {
        width: 100%;
        padding: 0; } }
  .main-footer hr {
    border-color: rgba(151, 151, 151, 0.3);
    border-width: 1px;
    margin: 5px 0 0; }
    @media (max-width: 992px) {
      .main-footer hr {
        display: none; } }
  .main-footer h3,
  .main-footer .widgettitle {
    font-size: 13px;
    color: #323232;
    margin: 0 0 20px;
    font-weight: 700; }
  .main-footer ul {
    margin: 0;
    padding: 0; }
    .main-footer ul li {
      display: block;
      margin: 0 0 4px;
      padding: 0; }
  .main-footer p {
    margin: 0 0 4px; }
  .main-footer a {
    color: #162056; }
  .main-footer .footer-sidebar.row {
    display: flex; }
  @media (max-width: 992px) {
    .main-footer .footer-sidebar {
      text-align: center;
      display: block;
      width: 100%;
      margin: 0; } }
  @media (max-width: 992px) {
    .main-footer .footer-sidebar p {
      margin: 0 auto 4px; } }
  .main-footer .footer-sidebar .widget {
    margin-bottom: 20px; }
  .main-footer .footer-sidebar .widget_tkt-widget-footer-contact {
    font-size: 13px;
    margin: auto; }
    .main-footer .footer-sidebar .widget_tkt-widget-footer-contact .phone-number {
      font-size: 18px;
      color: #323232;
      font-weight: 700; }
    .main-footer .footer-sidebar .widget_tkt-widget-footer-contact p {
      max-width: 220px; }
  .main-footer .footer-sidebar + hr {
    margin-bottom: 30px; }
  @media (max-width: 992px) {
    .main-footer .footer-menus {
      margin-top: 0;
      border-top: 1px solid rgba(151, 151, 151, 0.3);
      display: block;
      width: 100%;
      margin: 0; } }
  .main-footer .footer-menus .menu-wrapper {
    float: left;
    width: 20%;
    padding: 0 15px;
    margin: 0 0 20px; }
    @media (max-width: 992px) {
      .main-footer .footer-menus .menu-wrapper {
        width: 100%;
        display: block;
        clear: both;
        min-height: 0;
        margin: 0;
        padding: 0; }
        .main-footer .footer-menus .menu-wrapper .submenu-title {
          display: block;
          padding: 15px 10px;
          margin: 0;
          border-bottom: 1px solid rgba(151, 151, 151, 0.3);
          cursor: pointer; }
          .main-footer .footer-menus .menu-wrapper .submenu-title:after {
            content: "\f107";
            top: -1px;
            float: right;
            font-size: 16px;
            font-family: 'FontAwesome';
            line-height: inherit;
            position: relative;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
          .main-footer .footer-menus .menu-wrapper .submenu-title.opened:after {
            content: "\f106"; } }
    @media (min-width: 992px) {
      .main-footer .footer-menus .menu-wrapper .menu {
        display: block !important;
        height: 100% !important; } }
    @media (max-width: 992px) {
      .main-footer .footer-menus .menu-wrapper .menu {
        float: none;
        clear: both;
        display: none; }
        .main-footer .footer-menus .menu-wrapper .menu li a {
          display: block;
          padding: 15px 10px;
          margin: 0;
          border-bottom: 1px solid rgba(151, 151, 151, 0.3); } }
  .main-footer .footer-links {
    margin-top: 30px; }
    @media (max-width: 992px) {
      .main-footer .footer-links {
        width: 100%;
        display: block;
        margin: 25px 0 0; } }
    .main-footer .footer-links .footer-app {
      display: inline-block;
      vertical-align: top;
      padding: 0 15px;
      margin-bottom: 20px; }
      @media (max-width: 992px) {
        .main-footer .footer-links .footer-app {
          display: block;
          width: 100%;
          margin: 0 15px 20px 0; } }
      .main-footer .footer-links .footer-app:before {
        content: '';
        background: url("../../_assets/images/footer-app.png") no-repeat left center;
        background-size: contain;
        width: 102px;
        height: 137px;
        display: inline-block;
        margin-right: 15px; }
      .main-footer .footer-links .footer-app .footer-app-content {
        display: inline-block;
        vertical-align: top; }
        .main-footer .footer-links .footer-app .footer-app-content .link {
          max-width: 200px;
          display: inline-block;
          text-decoration: underline;
          margin: 0 0 10px; }
        .main-footer .footer-links .footer-app .footer-app-content ul li {
          display: inline-block; }
          .main-footer .footer-links .footer-app .footer-app-content ul li a {
            display: inline-block;
            margin-right: 10px;
            height: 35px; }
            .main-footer .footer-links .footer-app .footer-app-content ul li a:last-of-type {
              margin-right: 0; }
    .main-footer .footer-links .footer-social {
      display: inline-block;
      vertical-align: top;
      float: right;
      padding: 0 15px;
      margin-bottom: 20px; }
      @media (max-width: 992px) {
        .main-footer .footer-links .footer-social {
          text-align: center;
          display: block;
          clear: both;
          float: none;
          width: 100%;
          border-top: 1px solid rgba(151, 151, 151, 0.3);
          padding-top: 30px; } }
      .main-footer .footer-links .footer-social li {
        display: inline-block;
        margin: 0 15px 0 0; }
        .main-footer .footer-links .footer-social li:last-of-type {
          margin-right: 0; }
        .main-footer .footer-links .footer-social li a {
          display: inline-block; }
          .main-footer .footer-links .footer-social li a i {
            font-size: 20px; }
  .main-footer .footer-copyright {
    line-height: 31px;
    margin-top: 17px;
    margin-bottom: 17px; }
    @media (max-width: 992px) {
      .main-footer .footer-copyright {
        margin: 0;
        text-align: center;
        display: block;
        clear: both;
        float: none;
        width: 100%;
        border-top: 1px solid rgba(151, 151, 151, 0.3);
        padding: 20px 0 15px; } }
    @media (max-width: 992px) {
      .main-footer .footer-copyright .text-right {
        text-align: center; } }
    @media (max-width: 992px) {
      .main-footer .footer-copyright .text-copyright {
        margin-top: 20px;
        line-height: 1.4; } }
    @media (max-width: 400px) {
      .main-footer .footer-copyright .col-xs-6 {
        width: 100%;
        display: block;
        margin-bottom: 20px; }
        .main-footer .footer-copyright .col-xs-6:last-of-type {
          margin-bottom: 0; }
      .main-footer .footer-copyright .text-copyright {
        margin-top: 0; } }
  .main-footer .footer-cookies {
    text-align: center; }
  .main-footer .footer-logos {
    display: block; }
    .main-footer .footer-logos li {
      display: inline-block;
      margin: 0 40px 0 0; }
      .main-footer .footer-logos li:last-of-type {
        margin-right: 0; }
      .main-footer .footer-logos li a {
        display: inline-block; }
      .main-footer .footer-logos li img {
        height: 31px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Montserrat', sans-serif; }

html, body {
  line-height: 1.5rem;
  font-size: 14px;
  line-height: 1.5rem; }
  @media (min-width: 768px) {
    html, body {
      font-size: 16px; } }

.row-tkt {
  display: flex;
  flex-direction: row; }
  .row-tkt .col-tkt {
    width: 100%; }

.title-tkt {
  font-size: 18px;
  color: #182255;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.8rem;
  text-align: center; }
  @media (min-width: 768px) {
    .title-tkt {
      font-size: 32px;
      line-height: 2.5rem; } }
  @media (min-width: 1250px) {
    .title-tkt {
      text-align: left; }
      .title-tkt.center {
        text-align: center; } }

.grouped-collapses {
  background: #3784C3;
  color: #fff;
  flex-direction: column-reverse;
  padding: 24px 0; }
  @media (min-width: 768px) {
    .grouped-collapses {
      padding: 32px 0; } }
  @media (min-width: 1250px) {
    .grouped-collapses {
      flex-direction: row;
      padding: 64px 0; }
      .grouped-collapses .collapse-groups-wrapper {
        padding-right: 48px; } }
  .grouped-collapses .groups-navigation {
    display: flex;
    padding: 24px 24px 16px;
    background-color: #57A1DE;
    text-align: center;
    max-width: 100%;
    overflow: auto; }
    @media (min-width: 1250px) {
      .grouped-collapses .groups-navigation {
        background-color: transparent;
        padding-bottom: 32px; } }
    .grouped-collapses .groups-navigation .group-selector {
      margin-right: 32px;
      position: relative;
      cursor: pointer; }
      .grouped-collapses .groups-navigation .group-selector:last-child:after {
        content: "";
        display: block;
        position: absolute;
        right: -24px;
        width: 24px;
        height: 1px; }
      .grouped-collapses .groups-navigation .group-selector.active .group-icon {
        background: #FFC72C; }
      .grouped-collapses .groups-navigation .group-selector.active .group-name {
        color: #FFC72C; }
      .grouped-collapses .groups-navigation .group-selector .group-icon {
        width: 64px;
        height: 64px;
        background-color: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 4px; }
        .grouped-collapses .groups-navigation .group-selector .group-icon img {
          max-width: 65%; }
      .grouped-collapses .groups-navigation .group-selector .group-name {
        line-height: 1.3rem; }
  .grouped-collapses .group-image-wrapper {
    display: none; }
    @media (min-width: 1250px) {
      .grouped-collapses .group-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 48px; }
        .grouped-collapses .group-image-wrapper .group-image {
          height: 400px;
          border-radius: 0 400px 400px 0;
          margin: auto;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%; } }
  .grouped-collapses .groups-content {
    padding: 24px; }
    @media (min-width: 768px) {
      .grouped-collapses .groups-content {
        padding: 32px; } }
    @media (min-width: 1250px) {
      .grouped-collapses .groups-content {
        padding-bottom: 8px; } }
    .grouped-collapses .groups-content .group-title {
      font-size: 16px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 24px; }
      @media (min-width: 768px) {
        .grouped-collapses .groups-content .group-title {
          font-size: 24px;
          text-align: left; } }
    @media (min-width: 768px) {
      .grouped-collapses .groups-content .collapse-wrapper {
        display: flex;
        flex-wrap: wrap; } }
    .grouped-collapses .groups-content .collapse-tkt {
      margin-bottom: 24px; }
      @media (min-width: 768px) {
        .grouped-collapses .groups-content .collapse-tkt {
          min-width: 50%;
          max-width: 50%; } }
      .grouped-collapses .groups-content .collapse-tkt:last-child {
        margin-bottom: 0; }
      .grouped-collapses .groups-content .collapse-tkt .collapse-header {
        position: relative;
        padding-left: 20px;
        cursor: pointer; }
        .grouped-collapses .groups-content .collapse-tkt .collapse-header:after {
          content: '';
          width: 11px;
          height: 5px;
          display: block;
          background-image: url(../img/collapse-arrow.svg);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
      .grouped-collapses .groups-content .collapse-tkt .collapse-content {
        padding-left: 20px;
        display: none; }
      .grouped-collapses .groups-content .collapse-tkt.active .collapse-header {
        color: #FFC72C; }
        .grouped-collapses .groups-content .collapse-tkt.active .collapse-header:after {
          -webkit-transform: rotate(180deg);
          /* WebKit */
          -moz-transform: rotate(180deg);
          /* Mozilla */
          -o-transform: rotate(180deg);
          /* Opera */
          -ms-transform: rotate(180deg);
          /* Internet Explorer */
          transform: rotate(180deg);
          /* CSS3 */ }
      .grouped-collapses .groups-content .collapse-tkt.active .collapse-content {
        display: block; }
  .grouped-collapses .title-tkt {
    color: #FFC72C;
    padding: 0 24px; }

.ticket-banner {
  min-height: 260px;
  background: #80D3C3;
  color: #fff;
  flex-direction: column-reverse; }
  @media (min-width: 1250px) {
    .ticket-banner {
      flex-direction: row; } }
  .ticket-banner .banner-content {
    padding: 24px 16px; }
    @media (min-width: 768px) {
      .ticket-banner .banner-content {
        padding: 32px; } }
    @media (min-width: 1250px) {
      .ticket-banner .banner-content {
        padding: 24px 48px;
        padding-left: 100px; } }
    .ticket-banner .banner-content .title-tkt {
      color: #3C1A5B;
      margin-bottom: 16px; }
      @media (min-width: 1250px) {
        .ticket-banner .banner-content .title-tkt {
          margin-bottom: 4px; } }
    .ticket-banner .banner-content .banner-description {
      margin-bottom: 24px;
      text-align: center;
      font-size: 16px; }
      @media (min-width: 1250px) {
        .ticket-banner .banner-content .banner-description {
          text-align: left;
          margin-bottom: 16px; } }
    .ticket-banner .banner-content .banner-btns {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      margin: auto; }
      @media (min-width: 768px) {
        .ticket-banner .banner-content .banner-btns {
          display: block;
          max-width: none;
          margin: auto;
          text-align: center; } }
      @media (min-width: 1250px) {
        .ticket-banner .banner-content .banner-btns {
          text-align: left; } }
    .ticket-banner .banner-content .btn-tkt {
      background-color: #3C1A5B;
      margin-bottom: 16px; }
      @media (min-width: 1250px) {
        .ticket-banner .banner-content .btn-tkt {
          margin-right: 8px;
          margin-bottom: 0; } }
      .ticket-banner .banner-content .btn-tkt:hover, .ticket-banner .banner-content .btn-tkt:focus, .ticket-banner .banner-content .btn-tkt:active {
        background-color: #502478; }
      .ticket-banner .banner-content .btn-tkt.secondary-btn-tkt {
        background-color: transparent;
        color: #3C1A5B;
        border: 1px solid #3C1A5B; }
        .ticket-banner .banner-content .btn-tkt.secondary-btn-tkt:hover, .ticket-banner .banner-content .btn-tkt.secondary-btn-tkt:focus, .ticket-banner .banner-content .btn-tkt.secondary-btn-tkt:active {
          background-color: transparent;
          color: #3C1A5B; }
        .ticket-banner .banner-content .btn-tkt.secondary-btn-tkt:after {
          content: '';
          display: inline-block;
          background-image: url(../img/arrow-down.svg);
          background-repeat: no-repeat;
          width: 14px;
          height: 8px;
          margin-left: 8px; }
      .ticket-banner .banner-content .btn-tkt.active.secondary-btn-tkt:after {
        background-image: url(../img/arrow-up.svg); }
    .ticket-banner .banner-content .download-links-wrapper {
      margin-top: 24px;
      display: none; }
      .ticket-banner .banner-content .download-links-wrapper.active {
        display: block; }
      .ticket-banner .banner-content .download-links-wrapper .download-category {
        margin-top: 16px; }
      .ticket-banner .banner-content .download-links-wrapper .category-title {
        color: #3C1A5B;
        margin-bottom: 8px;
        font-weight: 700;
        text-align: center; }
        @media (min-width: 1250px) {
          .ticket-banner .banner-content .download-links-wrapper .category-title {
            text-align: left; } }
        .ticket-banner .banner-content .download-links-wrapper .category-title img {
          margin-right: 4px; }
      .ticket-banner .banner-content .download-links-wrapper li {
        text-align: center;
        padding: 10px 0; }
        @media (min-width: 1250px) {
          .ticket-banner .banner-content .download-links-wrapper li {
            text-align: left;
            display: inline-block;
            margin-right: 16px;
            margin-bottom: 8px; } }
        .ticket-banner .banner-content .download-links-wrapper li a {
          color: #FFF;
          font-size: 14px; }
  .ticket-banner .banner-img {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 768px) {
      .ticket-banner .banner-img {
        height: 350px; } }
    @media (min-width: 1250px) {
      .ticket-banner .banner-img {
        height: 260px;
        border-radius: 260px 0 0 260px; } }
    @media (min-width: 1900px) {
      .ticket-banner .banner-img {
        height: 280px;
        border-radius: 280px 0 0 280px; } }

.post-carousel-tkt {
  background-color: #F4F4F4;
  padding: 32px 0;
  position: relative; }
  @media (min-width: 1250px) {
    .post-carousel-tkt {
      padding: 64px 0; } }
  .post-carousel-tkt .item {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 16px;
    width: 100%; }
    @media (min-width: 1250px) {
      .post-carousel-tkt .item {
        width: 253px; } }
    .post-carousel-tkt .item .text-card {
      background-color: white;
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 16px;
      font-size: 14px;
      line-height: 17px;
      color: #323232; }
      .post-carousel-tkt .item .text-card.sub {
        margin-top: 8px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #323232; }
  .post-carousel-tkt .text-card {
    font-weight: 700;
    color: #323232; }
  .post-carousel-tkt .owl-carousel {
    padding-top: 32px;
    margin: auto; }
    @media (min-width: 1250px) {
      .post-carousel-tkt .owl-carousel {
        width: 1080px; } }
  .post-carousel-tkt .center-content {
    text-align: center; }
  .post-carousel-tkt .post-filter {
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 100%;
    overflow: auto; }
    @media (min-width: 768px) {
      .post-carousel-tkt .post-filter {
        max-width: none;
        border-radius: 48px; } }
    .post-carousel-tkt .post-filter ol {
      display: flex;
      justify-content: center;
      max-width: 100%;
      overflow: auto;
      justify-content: left; }
      @media (min-width: 1250px) {
        .post-carousel-tkt .post-filter ol {
          justify-content: center; } }
      .post-carousel-tkt .post-filter ol > li {
        border-radius: 32px;
        font-size: 16px;
        padding: 8px;
        font-weight: 700;
        font-size: 16px;
        margin: 8px;
        cursor: pointer;
        color: #323232;
        flex: 0 0 auto; }
        .post-carousel-tkt .post-filter ol > li:hover {
          color: #3784C3; }
        .post-carousel-tkt .post-filter ol > li.active {
          background-color: #3784C3;
          color: white;
          font-weight: 700; }
  .post-carousel-tkt .post-card {
    background-color: white; }
  .post-carousel-tkt .owl-nav {
    display: none; }
    @media (min-width: 1250px) {
      .post-carousel-tkt .owl-nav {
        display: inline-block; } }
    .post-carousel-tkt .owl-nav button {
      position: absolute;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      display: block;
      top: 0;
      bottom: 0;
      margin: auto; }
      .post-carousel-tkt .owl-nav button.owl-prev, .post-carousel-tkt .owl-nav button.owl-next {
        background: #3784C3;
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center; }
        .post-carousel-tkt .owl-nav button.owl-prev:hover, .post-carousel-tkt .owl-nav button.owl-next:hover {
          background-color: #4099E2; }
      .post-carousel-tkt .owl-nav button.owl-prev {
        left: -80px;
        background-image: url(../img/left-arrow.svg); }
      .post-carousel-tkt .owl-nav button.owl-next {
        right: -70px;
        background-image: url(../img/right-arrow.svg); }
      .post-carousel-tkt .owl-nav button span {
        display: none; }

        .elementor-element .elementor-element-2spbb4m .elementor-column .elementor-col-33 .elementor-top-column{
          top: 139px;
        }

      @media (min-width: 768px) {
        .elementor-element .elementor-element-2spbb4m .elementor-column .elementor-col-33 .elementor-top-column {
          top: 0% }
         }

          @media (min-width: 1024px) {
            .elementor-element .elementor-element-2spbb4m .elementor-column .elementor-col-33 .elementor-top-column {
              top: 0% }
             }

              @media (min-width: 767px) {
                .elementor-element .elementor-element-2spbb4m .elementor-column .elementor-col-33 .elementor-top-column {
                  top: 0%; }
                 }

                 /* elementor-element elementor-element-2spbb4m elementor-column elementor-col-33 elementor-top-column */